---
import Base from '@/layouts/base.astro'

import '../styles/global.css'
---

<Base
  title="Omnyist"
  description="Welcome to Omnyist! This is where I share my gaming adventures and creative projects.">
  <div>
    <h1 class="mb-6 text-3xl font-bold">Omnyist</h1>
    <p class="mb-4 text-lg text-gray-700">Coming eventually.</p>
  </div>
</Base>
