---
import { LegacyIcon } from '../legacy-icon'
---


<div class="text-sm outline outline-buttermilk rounded not-prose">
  <div class="font-caps flex items-center gap-2 bg-buttermilk dark:text-ink px-5 py-1 rounded-t"><LegacyIcon className="size-3" /><span class="text-base">DISCLAIMER</span></div>
  <div class="p-5 [&>p]:m-0">
     This is a <strong>legacy post</strong> written before 2015. While the content has survived numerous site migrations
      and content management systems, some formatting and links may be broken. I&apos;ve done my best to fix things under
      my control. 
  </div>
</div>
