---
import { LegacyIcon } from '../legacy-icon'
---

<div class="outline-buttermilk not-prose rounded text-sm outline">
  <div class="font-caps bg-buttermilk text-ink flex items-center gap-2 rounded-t px-5 py-1">
    <LegacyIcon className="size-3" /><span class="text-base">DISCLAIMER</span>
  </div>
  <div class="p-5 [&>p]:m-0">
    This is a <strong>legacy post</strong> written before 2013 . While the content has survived numerous site migrations and
    content management systems, some formatting and links may be broken. I&apos;ve done my best to fix things under my control.
  </div>
</div>
