---

---

<div class="not-prose">
  <span>DISCLAIMER</span>
  <div class="mb-6 border-l-4 border-amber-400 bg-amber-50 p-4 text-sm">
    <p class="prose prose-sm">
      This is a <strong>legacy post</strong> written before 2015. While the content has survived numerous site migrations
      and content management systems, some formatting and links may be broken. I&apos;ve done my best to fix things under
      my control.
    </p>
  </div>
</div>
