---
import BaseHead from '../components/BaseHead.astro';
import { Base } from '@multiverse/ui/layouts';
import Timeline from '../components/Timeline';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const eras = await getCollection('eras');

const gaps = await getCollection('gaps');

const timelineItems = [
  ...posts.map((post) => ({
    type: 'post',
    title: post.data.title,
    date: post.data.date,
    id: post.id,
  })),
  ...eras.map((era) => ({
    type: 'era',
    title: era.data.title,
    startDate: era.data.startDate,
    endDate: era.data.endDate,
    description: era.data.description,
  })),
  ...gaps.map((gap) => ({
    type: 'gap',
    title: gap.data.title,
    date: gap.data.date,
    description: gap.data.description,
  })),
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Base activeSite="mind">
      <Fragment slot="mind">
        <main>
          <Timeline items={timelineItems} />
        </main>
      </Fragment>
      <Fragment slot="work">work</Fragment>
      <Fragment slot="play">play</Fragment>
    </Base>
  </body>
</html>
