---
import '../styles/global.css'
import { App } from '@/components/app'

export function getStaticPaths() {
  return [
    { params: { app: undefined } },
    { params: { app: 'editorials' } },
    { params: { app: 'composer' } },
    { params: { app: 'posts' } },
  ]
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zenith</title>
  </head>
  <body class="bg-neutral-950 text-neutral-100">
    <App client:only="react" />
  </body>
</html>
