---
import Colophon from '@/components/colophon.astro'
import { LocationIcon } from '@/components/location-icon'
import { JobIcon } from '@/components/job-icon'
import { EraIcon } from '@/components/era-icon'

interface Props {
  page?: string
}

const { page = 'index' } = Astro.props

const today = new Date()
const established = new Date('2000-09-28')
const currentMonth = today.getMonth()
const currentDay = today.getDate()
const establishedMonth = established.getMonth()
const establishedDay = established.getDate()
const years =
  today.getFullYear() -
  established.getFullYear() -
  (currentMonth < establishedMonth || (currentMonth === establishedMonth && currentDay < establishedDay) ? 1 : 0)
---

<footer
  data-page={page}
  class:list={[
    'grid grid-cols-subgrid self-end items-baseline',
    { 'col-span-6': page === 'index' },
    { 'col-span-5': page === 'post' }
  ]}
>
  <div>
    <div class="dark:border-timeline h-10 mb-2 w-[1px] border-l relative -top-2"></div>
    <EraIcon className="size-3.5 text-white/10" />
  </div>
  <div>
    <div class="dark:border-timeline h-10 mb-2 w-[1px] border-l relative -top-2"></div>
    <JobIcon className="size-3.5 text-white/10" />
  </div>
  <div>
    <div class="dark:border-timeline h-10 mb-2 w-[1px] border-l relative -top-2"></div>
    <LocationIcon className="size-3.5 text-white/10" />
  </div>
  <div class="self-stretch">
    <div class="dark:border-timeline h-full w-[1px] border-l"></div>
  </div>
  <div class="col-span-2 col-start-5 pt-12 pr-4 sm:col-span-1 sm:col-start-6">
    <div class:list={['flex max-w-prose flex-col gap-8 pl-4 sm:pl-2', { 'sm:pl-4': page === 'post' }]}>
      <p class="text-mist">
        <strong>Avalonstar</strong> is the {years}-year-old personal website of <strong
          ><a href="https://bryanvelo.so" target="_blank">Bryan Veloso</a></strong
        >: <em class="font-serif"
          >streamer, professional user interface designer, hobbyist developer, lifelong gamer, and compass of purpose.</em
        >
      </p>
      <div>
        <Colophon />
        <div class="social-links"></div>
      </div>
      <div class="font-caps text-pewter col-start-6 pr-4 pb-6 text-xs text-pretty">
        &copy; 2000-{today.getFullYear()} Avalonstar. &ldquo;Avalonstar&rdquo; is a registered trademark of Avalonstar, Inc.
        All rights reserved.
      </div>
    </div>
  </div>
</footer>
