---
import { Image } from 'astro:assets'
import Eggrolls from '../assets/eggrolls.png'

const today = new Date()
const established = new Date('2000-09-28')
const currentMonth = today.getMonth()
const currentDay = today.getDate()
const establishedMonth = established.getMonth()
const establishedDay = established.getDate()
const years =
  today.getFullYear() -
  established.getFullYear() -
  (currentMonth < establishedMonth || (currentMonth === establishedMonth && currentDay < establishedDay) ? 1 : 0)
---

<footer class="col-span-5 grid py-12">
  <div class="flex gap-4">
    <div>
      <p class="text-mist">
        <strong>Avalonstar</strong> is the {years}-year-old personal website of <strong
          ><a href="https://bryanvelo.so" target="_blank">Bryan Veloso</a></strong
        >: <em class="font-serif"
          >streamer, professional user interface designer, hobbyist developer, lifelong gamer, and compass of purpose.</em
        >
      </p>
    </div>
    <div class="social-links"></div>
  </div>
  <div class="font-caps text-pewter py-6 text-xs text-pretty">
    &copy; 2000-{today.getFullYear()} Avalonstar. &ldquo;Avalonstar&rdquo; is a registered trademark of Avalonstar, Inc.
    All rights reserved.
  </div>
</footer>
<div class="col-span-5 flex">
  <div class="flex-1/2"><Image src={Eggrolls} alt="Eggrolls" /></div>
  <div>Thanks <a href="https://brad.site" target="_blank">Brad Colbow</a> for reviving a legend.</div>
</div>
