@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Multiverse libraries. */
@import '@multiverse/ui/styles/fonts.css';
@import '@multiverse/ui/styles/variables.css';

@theme {
  /* Primary Colors */
  --color-cool-black: oklch(25.33% 0.0082 240.19);
  --color-midnight-blue: oklch(32.39% 0.032 252.38);
  --color-slate-blue: oklch(48.55% 0.0384 234.94);
  --color-aqua: oklch(85.94% 0.1187 186.48);
  --color-cloud-grey: oklch(87.25% 0.023 233.4);

  /* Secondary Colors */
  --color-mint: oklch(94.58% 0.0297 186.29);
  --color-yellow: oklch(94.99% 0.1599 104.84);
  --color-watermelon: oklch(64.6% 0.202 4.73);
  --color-sky-blue: oklch(72.77% 0.1231 217.86);
  --color-apple-green: oklch(77.29% 0.1378 144.62);

  /* Neutral Colors */
  --color-white-frost: oklch(0.94 0.012 240);
  --color-light-grey: oklch(0.87 0.012 250);
  --color-cool-grey: oklch(0.79 0.012 255);
  --color-mid-grey: oklch(0.71 0.012 260);
  --color-dark-grey: oklch(0.4 0.012 265);

  --font-hero: 'Gloock', serif;
  --font-sans: 'Work Sans Variable', sans-serif;
}

body {
  @apply antialiased;
}
