---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

import '../styles/global.css'

type SiteType = 'mind' | 'work' | 'play'

interface Props {
  title?: string
  description?: string
  image?: string
  activeSite?: SiteType
}

const {
  title,
  description = 'The mind of Bryan Veloso.',
  image,
  activeSite = 'mind'
} = Astro.props

const defaultTitles = {
  mind: 'Avalonstar',
  work: 'Bryan Veloso',
  play: 'Omnyist'
}

const pageTitle = title || defaultTitles[activeSite]
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
  </head>
  <body class="text-gray-900 w-screen h-dvh">
    <div
      class="grid grid-cols-1 md:grid-cols-[1fr_48px_48px] w-screen relative"
    >
      <!-- Mind (Avalonstar) -->
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <Header />
        <div class="max-w-7xl mx-auto">
          <slot />
        </div>
        <Footer />
      </div>

      <!-- Work (Bryan Veloso) -->
      <div class="relative hidden md:block">
        <div class="sticky top-0 p-2 pl-0">
          <a href={import.meta.env.DEV ? `http://localhost:5322` : 'https://bryanvelo.so'}>
            <div class="bg-amber-100 h-[calc(100dvh-1rem)] rounded flex justify-center">
              <div class="pt-4 uppercase text-xs" style={{ writingMode: 'vertical-rl' }}>
                <strong>work</strong> &mdash; bryanvelo.so
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Play (Omnyist) -->
      <div class="relative hidden md:block">
        <div class="sticky top-0 p-2 pl-0">
          <a
            href={import.meta.env.DEV
              ? `http://localhost:5323`
              : 'https://omnyist.com'}
          >
            <div class="bg-blue-100 h-[calc(100dvh-1rem)] rounded flex justify-center">
              <div class="pt-4 uppercase text-xs" style={{ writingMode: 'vertical-rl' }}>
                <strong>play</strong> &mdash; omnyist
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
