---
import '@fontsource-variable/andada-pro'
import '@fontsource-variable/geologica/full.css'

import { SiteTransition } from '@multiverse/ui'

import BaseHead from '@/components/base-head.astro'

import '../styles/global.css'

type SiteType = 'mind' | 'work' | 'play'

interface Props {
  title?: string
  description?: string
  image?: string
  activeSite?: SiteType
}

const { title, description = 'The mind of Bryan Veloso.', image, activeSite = 'mind' } = Astro.props

const defaultTitles = {
  mind: 'Avalonstar',
  work: 'Bryan Veloso',
  play: 'Omnyist'
}

const pageTitle = title || defaultTitles[activeSite]
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
  </head>
  <body class="bg-ink">
    <SiteTransition client:load />
    <div class="relative isolate grid grid-cols-1 gap-2 pr-2 md:grid-cols-[1fr_48px_48px]">
      <!-- Mind (Avalonstar) -->
      <div
        class="dark:from-ink dark:to-onyx relative mr-0 min-h-dvh bg-linear-to-b from-0% to-100% text-gray-900 dark:text-gray-100 pl-4 md:pl-0"
      >
        <slot />
      </div>

      <!-- Work (Bryan Veloso) -->
      <div class="relative hidden md:block">
        <div class="sticky top-0 z-50 pt-2">
          <a href={import.meta.env.DEV ? `http://localhost:5322` : 'https://bryanvelo.so'}>
            <div class="flex h-[calc(100dvh-1rem)] justify-center rounded outline outline-amber-100/20 theme-bryanveloso">
              <div class="pt-4 text-xs uppercase" style={{ writingMode: 'vertical-rl' }}>
                <strong>work</strong> &mdash; bryanvelo.so
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Play (Omnyist) -->
      <div class="relative hidden md:block">
        <div class="sticky top-0 z-50 pt-2">
          <a href={import.meta.env.DEV ? `http://localhost:5323` : 'https://omnyist.com'}>
            <div class="flex h-[calc(100dvh-1rem)] justify-center rounded outline outline-blue-100/20 theme-omnyist">
              <div class="pt-4 text-xs uppercase" style={{ writingMode: 'vertical-rl' }}>
                <strong>play</strong> &mdash; omnyist
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
