@layer base {
  @font-face {
    font-family: 'Miedinger';
    src: url('/fonts/miedinger/thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Miedinger';
    src: url('/fonts/miedinger/light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Miedinger';
    src: url('/fonts/miedinger/regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Miedinger';
    src: url('/fonts/miedinger/medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Miedinger';
    src: url('/fonts/miedinger/bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
}
