---
import { CrosspostIcon } from '../crosspost-icon'
---

<div class="outline-royal not-prose rounded text-sm outline">
  <div class="font-caps bg-royal flex items-center gap-2 rounded-t px-5 py-1">
    <CrosspostIcon className="size-3" /><span class="text-base">CROSSPOST</span>
  </div>
  <div class="p-5 [&>p]:m-0"><slot /></div>
</div>
