---
import Monogram from '@/assets/monogram.svg'
---

<header class="relative mt-24 p-12">
  <div aria-hidden="true" class="absolute inset-0 flex items-center">
    <!-- <div class="dark:border-mint w-full border-t"></div> -->
  </div>
  <div class="dark:text-sky-blue relative flex items-center justify-center">
    <Monogram class="size-18" fill="currentColor" />
  </div>
</header>
