---
import Monogram from '@/assets/monogram.svg';
---
<header class="relative p-6">
  <div aria-hidden="true" class="absolute inset-0 flex items-center">
    <div class="w-full border-t dark:border-mint/30" />
  </div>
  <div class="relative flex justify-center">
    <span class="dark:text-mint dark:bg-cool-black px-4">
      <Monogram class="size-10" fill="currentColor" />
    </span>
  </div>
</header>

