---
import Monogram from '@/assets/monogram.svg'
---

<header class="relative p-12 mt-24">
  <div aria-hidden="true" class="absolute inset-0 flex items-center">
    <!-- <div class="dark:border-mint w-full border-t"></div> -->
  </div>
  <div class="relative flex items-center justify-center dark:text-sky-blue ">
      <Monogram class="size-18" fill="currentColor" />
  </div>
</header>
