---
import Monogram from '@/assets/monogram.svg'
---

<header class="relative mt-24 py-12 pb-0">
  <div aria-hidden="true" class="absolute inset-0 flex items-center">
    <!-- <div class="border-mint w-full border-t"></div> -->
  </div>
  <div class="text-sky-blue relative flex items-center justify-center">
    <Monogram class="size-18" fill="currentColor" />
  </div>
</header>
