---
import '@fontsource/gloock'
import '@fontsource-variable/work-sans'

import BaseHead from '@/components/base-head.astro'
import Header from '@/components/header.astro'

import ChevronTL from '@/assets/chevron-tl.svg'
import Katakana from '@/assets/katakana.svg'

import '../styles/global.css'

type SiteType = 'mind' | 'work' | 'play'

interface Props {
  title?: string
  description?: string
  image?: string
  activeSite?: SiteType
}

const { title, description = 'The mind of Bryan Veloso.', image, activeSite = 'mind' } = Astro.props

const defaultTitles = {
  mind: 'Avalonstar',
  work: 'Bryan Veloso',
  play: 'Omnyist'
}

const pageTitle = title || defaultTitles[activeSite]
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
  </head>
  <body
    class="dark:bg-midnight-blue dark:from-cool-black to-midnight-blue dark:text-white-frost relative w-screen bg-gradient-to-b to-75%"
  >
    <div aria-hidden="true" class="absolute mix-blend-soft-light"></div>
    <div
      aria-hidden="true"
      class=`bg-[url(/images/contours.svg)] bg-[auto_15rem] lg:bg-auto bg-fixed bg-no-repeat bg-top absolute top-1/2 left-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 mix-blend-overlay`
    >
      <!-- <Contours /> -->
    </div>
    <div class="relative grid w-screen grid-cols-1 gap-2 md:grid-cols-[48px_1fr_48px]">
      <!-- Mind (Avalonstar) -->
      <div class="relative hidden md:block">
        <div class="sticky top-0 p-2 pr-0">
          <a href={import.meta.env.DEV ? `http://localhost:5321` : 'https://avalonstar.com'}>
            <div class="flex h-[calc(100dvh-1rem)] justify-center rounded">
              <div class="pt-4 text-xs uppercase" style={{ writingMode: 'vertical-rl' }}>
                <strong>mind</strong> &mdash; avalonstar
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Work (Bryan Veloso) -->
      <div class="relative container mx-auto px-6 lg:px-8">
        <div aria-hidden="true" class="absolute mt-6 flex items-center gap-2 mix-blend-soft-light">
          <ChevronTL class="text-sky-blue h-8 w-8" />
          <Katakana class="h-4 text-white" />
        </div>

        <Header />
        <slot />
      </div>

      <!-- Play (Omnyist) -->
      <div class="relative hidden md:block">
        <div class="sticky top-0 p-2 pl-0">
          <a href={import.meta.env.DEV ? `http://localhost:5323` : 'https://omnyist.com'}>
            <div class="flex h-[calc(100dvh-1rem)] justify-center rounded">
              <div class="pt-4 text-xs uppercase" style={{ writingMode: 'vertical-rl' }}>
                <strong>play</strong> &mdash; omnyist
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
