name: Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy with OrbStack
        run: |
          cd ${{ github.workspace }}
          docker compose down
          docker builder prune -af
          docker compose build --no-cache --pull
          docker compose up -d
          docker image prune -f
